<h1>ログインフォーム</h1>
<%= form_with(scope: :session, url: sessions_path, local: true) do |f| %>
  <div>
    <%= f.label :メールアドレス %>
    <%= f.email_field :email %>
  </div>
  <div>
    <%= f.label :パスワード %>
    <%= f.password_field :password %>
  </div>
  <div>
    <%= f.submit "ログイン" %>
  </div>
  <div>
    <%= link_to "新規登録する", new_user_path %>
  </div>
<% end %>