<!DOCTYPE html>
<html>
  <head>
    <title>Day08</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render '/layouts/nav' %>
    <% if flash[:notice]%>      
      <div>
        <%= flash[:notice] %>
      </div>      
    <% elsif flash[:danger] %>      
      <div>
        <%= flash[:danger] %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
